# compiled files #
##################
master.pdf

# temporary files #
###################
*.toc
*.aux
*.bcf
*.lof
*.log
*.out
*.run.xml

# backup files #
################
*.bak
*.*~

# PDF files are not ignored because this repo my contain vector graphics in PDF format
